#join_us {
	width: 100%;
	height: auto;
	background-color: #F0F6FF;
	padding: 88px 0px 88px;
	display: flex;
	position: relative;

	.gradient_container {
		height: 100%;
		width: 100%;
		background-color: aqua;
		position: absolute;
		left: 0;
		top: 0;
		background: rgb(240,246,255);
		background: linear-gradient(90deg, rgba(240,246,255,1) 0%, rgba(240,246,255,1) 30%, rgba(0, 0, 0, 0.616) 100%);
	}
	.background_img {
		height: 100%;
		width: 870px;
		background-color: aqua;
		position: absolute;
		right: 0;
		top: 0;
	}

	.text_container {
		display: flex;
		align-items: center;

		.icon_container {
			width: 104px;
			height: 104px;
			margin: 0 40px 0 0;
			border-radius: 24px;
			background-color: #FFFFFF;

			.icon {

			}
		}

		.title {
			text-align: start;
			font-weight: 500;
			font-size: 56px;
			margin: 20px 0px 40px;

			.emphasis {
				font-weight: bold;

			}
		}
	}

	.form_container {
		max-width: 570px;
		margin-top: 100px;
		.form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			row-gap: 25px;

			.form_group {
				width: 264px;
				display: flex;
				row-gap: 10px;
				flex-direction: column;

				label {
					padding-left: 20px;
				}
				input, select {
					border: none;
					width: 264px;
					height: 40px;
					border-radius: 20px;
					padding-left: 20px;

					background-color: #FFFFFF;
	
					&[type="text"] {
					}
					
					&[type="date"] {
	
					}
				}
			}
			button {
				text-align: center;
				border: none;
				width: 200px;
				height: 40px;
				border-radius: 20px;
				background-color: #E7485A;
				color: #FFFFFF;

				&[type="submit"] {
	
				}
			}
		}
	}
}