#home_testimonials {
	width: 100%;
	background-color: #F0F6FF;
	padding: 50px 0px;

	.title {
		text-align: center;
		font-weight: 500;
		font-size: 40px;
		margin: 20px 0px 40px;

		.emphasis {
			font-weight: bold;

		}
	}
}