.swiper {
  @media (max-width: 768px) {
    padding: 15px !important;
  }
}

.swiper-wrapper {
  padding-bottom: 80px;

  @media (max-width: 768px) {
    padding-bottom: 10px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #E7485A !important;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
}

.swiper-pagination-bullet-active {
  background-color: #3C4C59 !important;
}
