.g-accordion--container {
	overflow: hidden;
	max-height: 0;
	flex-direction: column;
	border-top: 1px solid white;
	margin: 0 20px;
	transition: max-height 0.3s ease-out;

	&.active {
		transition: max-height 0.3s ease-out;
		max-height: 300px;
	}
}